repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: conda-recipe/meta.yaml
      - id: check-merge-conflict
  - repo: https://github.com/akaihola/darker
    rev: github-action-v1.3.2-2
    hooks:
      - id: darker
        additional_dependencies: [black==21.12b0]
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      # to be last to catch un-committed code changes
      - id: git-dirty  # Configure in .gitignore
